.newGameButton {
	background: #3d2963;
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 30px;
	cursor: pointer;
	margin: 10px;
	transition: background-color 0.2s;
}
