body {
	display: flex;
	background-color: #57407c;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-family: 'Clear Sans', sans-serif;
	font-size: 21px;
}
a {
	text-decoration: none;
}
