.tile {
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	font-weight: bold;
	font-family: 'Clear Sans';
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: all 0.15s ease;
}

.value {
	text-align: center;
	line-height: 1;
}

.newTile {
	animation: appear 0.2s ease-in-out;
}

.mergedTile {
	animation: merge 0.2s ease-in-out;
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes merge {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
