.scoreCounter {
	background: #3d2963;
	border-radius: 6px;
	padding: 15px 25px;
	color: white;
	text-align: center;
	margin: 10px;
	min-width: 100px;
}

.label {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}

.value {
	font-size: 25px;
	font-weight: bold;
}
